header, footer {
    background-color: black;
    color : darkred;
    padding: 20px;
    text-align: center;
} 
aside {
    padding-top: 10px;
    font-weight: bold;
}
.title {
    color: black;
}
#unorderlist {
    color : darkred ;
}
nav {
    background-color: #222;
}
section, article {
    padding: 10px;
background-color: #eee;
}
img {
    height: 100%;
    width: 100%;
}
.titleUd {
color: black;
}
label {
    padding: 0 10px;
    width: 100px;
}